* {
  box-sizing: border-box;
}

.stopwatch {
  border: 2px solid black;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 50px;
}

#start {
  display: block;
  margin: auto;
}

#stop {
  display: block;
  margin: 15px auto;
}
